<div class="container-s">
    <nav class="wide-menu ">
        <div class="row">
            <div class="header active col-12">
                <a href="javascript:;"  class="float-left mr-3"><i class="fa fa-chevron-left"></i></a>
                <img src="images/kardo.png" alt="" class="float-left active">
                <a href="javascript:;" class="float-right"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="links active col-12">
                <div class="row">
                    <div class="col-6 pr-1 pl-0">
                        <a href="javascript:;"><i class="fa fa-user-o"></i> Üye ol | Giriş Yap</a>
                    </div>
                    <div class="col-6 pl-1 pr-0">
                        <a href="javascript:;"><i class="fa fa-truck"></i> Sipariş Takip</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li class="menu-item" data-content="menu-item-kadin-content">
                        <a href="javascript:;">Kadın</a>
                    </li>
                    <li class="menu-item" id="menu-item-kadin">
                        <a href="javascript:;">Erkek</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="menu-items-contents ">
        <div class="row">
            <div class="header col-12">
                <a href="javascript:;"  class="float-left mr-3"><i class="fa fa-chevron-left"></i> Kadın</a>
                <a href="javascript:;" class="float-right"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="banners">
                    <img src="images/yeni-gelenler@2x.jpg" alt="">
                    <img src="images/indirim@2x.jpg" alt="">
                    <img src="images/x_20201-0sy612z8-m0t_a.jpg" alt="">
                    <img src="images/8.jpg" alt="">
                    <img src="images/yeni-gelenler@2x.jpg" alt="">
                    <img src="images/indirim@2x.jpg" alt="">
                    <img src="images/x_20201-0sy612z8-m0t_a.jpg" alt="">
                    <img src="images/8.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="menu-item-content active" id="menu-item-female-content">
            <div class="row">
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul class="">
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-item-content" id="menu-item-male-content">
            <div class="row">
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul class="">
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-3">
                    <ul>
                        <li>
                            <a href="javasciprt:;">sublink</a>
                            <ul>
                                <li><a href="#">endlink</a></li>
                                <li><a href="#">endlink</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="search-page ">
        <div class="header">
            <a href="javascript:;"><i class="fa fa-chevron-left"></i></a>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Aradığınız tüm ürünler bir tık uzağınızda" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="last-searches">
            <h1>Son Aramalar</h1>
            <ul>
                <li>
                    <a href="#">word</a>
                    <a href="javascript:;"><i class="fa fa-times"></i></a>
                </li>
                <li>
                    <a href="#">word</a>
                    <a href="javascript:;"><i class="fa fa-times"></i></a>
                </li>
                <li>
                    <a href="#">word</a>
                    <a href="javascript:;"><i class="fa fa-times"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>