<section class="main">
    <div class="container-s">
        <a href="#" class="banner">
            <img src="images/USTBANNER_WEB@2x.jpg" alt="" class="img-fluid">
        </a>
        <div class="row">
            <div class="col-md-6 pr-2">
                <a href="#" class="banner">
                    <img src="images/7.jpg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6 pl-2">
                <a href="#" class="banner">
                    <img src="images/5.jpg" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>